/* 布局 */

#info{
    display: flex;
    flex-direction: column;
    width: 30%;

}

#navi{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    position: relative;
}



.title{
    font-size: 30px;
    font-weight: 500;
}

.location{
    font-size: 16px;
    font-weight: 400;
}

.infoText{
    padding-bottom: 8px;
}

.naviItem{
    text-decoration: none;
    text-align: center;
    width: 100px;
    color: black;
    padding: 0 15px 0 15px;
}

#naviSlideBlock{
    position: absolute;
    right: 0;
    height: 100%;
    width: 130px;
    background-color: rgb(65, 165, 200);
    z-index: -1;
    transition: right ease-in-out 0.2s;
}





