/* 布局 */

#slide{
    flex: 45%;
    height: 400px;
    padding: 10px;
    background-color: white;
}

#schedule{
    flex: 45%;
    height: 400px;
    padding: 10px 0 10px 0;
    background-color: white;
}

#lineGraph{
    flex: 100%;
    height: 550px;
}

#pieGraph{
    flex: 35%;
    height: 400px;
}

#barGraph{
    flex: 40%;
    height: 400px;
}

.flexItem{
    margin: 10px;
}

.graphItem{
    padding: 40px 5px 10px 5px; 
    background-color: white;
}


/* 滑动画廊 */

#slide img{
    width: 100%;
    height: 100%;
}

#scheduleTitle{

    display: flex;
    justify-content: space-between;
    
    height: 25%;
    border-bottom: 5px solid rgb(240, 240, 240);
    margin: 0;
    padding: 60px 60px 0 60px;
}

/* 支持请求 */

.scheduleTitleText{
    font-weight: 500;
    font-size: 24px;
    height: 30%;
}

.viewAllButton{
    height: 30%;
    padding: 10px;
    margin-right: 0;
    line-height: 200%;
    border : 3px solid rgb(230, 230, 230);
}


#scheduleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 45%;
    padding: 10px 60px 30px 60px;
}

.tableItem{
    display: flex;
    font-size: 18px;
    
}

.tableItemTime{
    flex: 20%;
}

.tableItemName{
    flex: 50%;
}

.tableItemStatus{
    flex: 20%;
    text-align: right;
    position: relative;
}

.tableTitle{
    font-weight: bold;

}

.greenDiv{
    position: absolute;
    right: 0;
    background-color: rgb(95, 205, 85);
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
}
